.face.center{
    top: 250px;
    position: relative;
    width: 200px;
	  height: 240px;
    background: rgb(190,114,60);
    border-radius: 50%;
    margin: auto;
}
.eyes.center
{
    position: absolute;
    top: 35%;
    left: 38px;
    height: 100px;
    width:200px;
}

.eye{
    float: left;
    margin:auto;
    border-radius: 50%;
    margin: 20px;
    width: 7;
    height: 7;
    background: black;
    border: 8px solid brown;
    box-shadow: 0 0 0 1.5px white;
}

.eye::before{
  width: 20;
  height: .5;
  border: 2px solid black;
  background: black;
  position: relative;
  content: "";
  display: block;
  margin-top: -17px;
  right: 8px;
  border-radius: 100px 0 0 0;

}

.nose.center{
  width: 30px;
  height: 45px;
  border-radius: 45%;
  position: absolute;
  top: 129px;
  left: 86px;
  background: rgb(200,125,65);
}

.nose.center::before{
    position: relative;
    display:block;
    content: "•";
    text-align: center;
    font-size: 25px;
    float: left;
    left: -4px;

    background: rgb(200,125,65);
    width: 20;
    height: 20;
    border-radius: 50%;
    margin:auto;
    top: 50%;
}

.nose.center::after{
    position: absolute;
    display:block;
    content: "•";
    text-align: center;
    font-size: 25px;
    float: right;
    background: rgb(200,125,65);

    width: 20;
    height: 20;
    right: -4px;
    border-radius: 50%;
    margin:auto;
    top: 50%;
}

.mouth:before{
  content:"";
  position: absolute;
  display: block;
  width: 70px;
  height: 20px;
  bottom: 25px;
  left: 65px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  background:black;
  border-radius: 0 0 150px 150px;


}
.mouth:after{
  content:"";
  position: absolute;
  display: block;
  width: 25px;
  height: 10px;
  left: 88px;
  top: 203px;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  border-right: 1px solid red;
  border-left: 1px solid red;
  background:red;
  border-radius: 153px 153px 10px 10px;
  overflow:hidden;
}

.hair{
    postition:absolute;
    overflow:hidden;
    width: 180px;
    left: 4px;
    margin: auto;
    height:66px;
    background:rgb(0,255,150);
    border-radius:100px 100px 0 0;
}

.hair::before{
  content:"";
  postition:absolute;
  display:block;
  width: 4px;
  height: 10px;
  top:20px;
  bottom:20px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top:40px solid transparent;
  border-bottom: 50px solid rgb(190,114,60);
}

.tattoo1{
  background: black;
  width: 4;
  height: 30;
  top: 140px;
  left: 20px;
  position: absolute;
  content: "+";
  display: block;
}

.tattoo2{
  background: black;
  width: 26;
  height: 4;
  top: 150px;
  left: 10px;
  position: absolute;
  content: "+";
  display: block;
}
